<div class="main-content">
  <div class="container-fluid">
    <div class="list-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Lista de Habitaciones</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item class="huesped-item">
              <span class="matListItemTitle reduce-space">ID</span>
              <span class="matListItemLine"><strong>Número</strong></span>
              <span class="matListItemLine"><strong>Tipo</strong></span>
              <span class="matListItemLine"><strong>Precio/noche</strong></span>
              <div class="huesped-actions">
                <span class="matListItemLine"><strong>Acciones</strong></span>
              </div>
            </mat-list-item>
            <mat-list-item
              *ngFor="let room of rooms; let i = index"
              class="huesped-item"
            >
              <span class="matListItemTitle reduce-space">{{ room.id }}</span>
              <span class="matListItemLine">{{ room.numero }}</span>
              <span class="matListItemLine">{{ room.tipo }}</span>
              <span class="matListItemLine">{{ room.precioNoche }}</span>

              <!-- Como muevas esto una linea no funciona el hdp -->
              <shared-pop-up
                [selectedIdHijo]="selectedId"
              ></shared-pop-up>

              <div class="huesped-actions">
                <button
                  mat-icon-button
                  (click)="setIndex(room.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#roomUpdateModal"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <!-- <shared-pop-up></shared-pop-up> -->
                <button
                  mat-icon-button
                  class="botones"
                  (click)="setIndex(room.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#roomDeleteModal"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <shared-floating-button [habitacion]="showButton"></shared-floating-button>