<div class="main-content">
  <div class="container-fluid">
    <!-- botones de buscar y ordenar -->
    <div class="button-container2">
      <button class="search-button" (click)="toggleFilter()">
        <mat-icon class="mr-2">search</mat-icon>
        <span class="button-text">Buscar</span>
      </button>
      <button class="search-button" (click)="toggleSorter()">
        <mat-icon class="mr-2">sort</mat-icon>
        <span class="button-text">Ordenar</span>
      </button>
    </div>

    <!-- boton que aparece al clicar ordenar -->
    <div *ngIf="showSorters">
      <hr />
      <h3>Ordenar</h3>
      <hr />
      <h4>Seleccione una opción</h4>

      <div class="button-container2">
        <select
          id="option-selector"
          class="selector"
          [(ngModel)]="selectedOption"
        >
          <option value="">Seleccione...</option>
          <option value="Numero">Número</option>
          <option value="Tipo">Tipo</option>
          <option value="Precio">Precio</option>
        </select>
        <button
          *ngIf="selectedOption"
          class="search-button"
          (click)="handleSelection('swap')"
        >
          <mat-icon>swap_vert</mat-icon>
        </button>
      </div>

      <!-- aparece al seleccionar un criterio de ordenacion -->
      <button
        *ngIf="selectedOption"
        class="search-button mt-4"
        (click)="handleSelection()"
      >
        <span class="button-text">Ordenar</span>
      </button>
    </div>

    <!-- boton que aparece al clicar buscar -->
    <div *ngIf="showFilters" class="filter-form-container">
      <hr />
      <h3>Filtrar</h3>
      <hr />
      <form>
        <mat-form-field class="full-width">
          <mat-label>Número</mat-label>
          <input
            matInput
            placeholder="Número"
            name="numero"
            [(ngModel)]="numero"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Tipo</mat-label>
          <input
            matInput
            type="text"
            placeholder="tipo"
            name="tipo"
            [(ngModel)]="tipo"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Precio</mat-label>
          <input
            matInput
            type="text"
            placeholder="precio"
            name="precioNoche"
            [(ngModel)]="precioNoche"
          />
        </mat-form-field>
      </form>
      <div class="centrar">
        <button
          class="mr-4 search-button"
          color="primary"
          type="submit"
          (click)="filter(numero, precioNoche, tipo)"
        >
          <mat-icon class="mr-2">filter_list</mat-icon>
          Filtrar
        </button>
        <button
          class="search-button"
          color="primary"
          type="submit"
          (click)="getHabitaciones()"
        >
          <mat-icon class="mr-2">restart_alt</mat-icon>
          Reestablecer
        </button>
      </div>
    </div>

    <div class="list-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Lista de Habitaciones</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item class="huesped-item">
              <span class="matListItemTitle reduce-space">ID</span>
              <span class="matListItemLine"><strong>Número</strong></span>
              <span class="matListItemLine"><strong>Tipo</strong></span>
              <span class="matListItemLine"><strong>Precio/noche</strong></span>
              <div class="huesped-actions">
                <span class="matListItemLine"><strong>Acciones</strong></span>
              </div>
            </mat-list-item>
            <mat-list-item
              *ngFor="let room of displayedRooms"
              class="huesped-item"
            >
              <span class="matListItemTitle reduce-space">{{ room.id }}</span>
              <span class="matListItemLine">{{ room.numero }}</span>
              <span class="matListItemLine">{{ room.tipo }}</span>
              <span class="matListItemLine">{{ room.precioNoche }}</span>

              <!-- Como muevas esto una linea no funciona el hdp -->
              <room-pop-up
                [selectedIdHijo]="selectedId"
                [roomAux]="room"
              ></room-pop-up>

              <div class="huesped-actions">
                <button
                  mat-icon-button
                  (click)="setIndex(room.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#roomUpdateModal"
                >
                  <mat-icon>edit</mat-icon>
                </button>

                <button
                  mat-icon-button
                  class="botones"
                  (click)="setIndex(room.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#roomDeleteModal"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>

          <mat-paginator
            [length]="rooms.length"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="handlePageEvent($event)"
          >
          </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>

    <shared-floating-button [habitacion]="showButton"></shared-floating-button>
  </div>
</div>
