
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Login</h2>
            <form>
                <div class="textbox">
                    <input type="text" placeholder="Username" required [(ngModel)]="nombre">
                </div>
                <div class="textbox">
                    <input type="password" placeholder="Password" required [(ngModel)]="password">
                </div>
                <button class="btn" type="submit" (click)="addUser()">Login</button>
                <p class="signup-link">No tienes cuenta? <a href="#">Sign up</a></p>
            </form>
        </div>
    </div>
</body>

