
 



  <!-- Hotel -->
   <!-- delete modal -->
  <div class="modal fade" id="hotelDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{"eliminar_hotel"|translate}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form >
              <div class="mb-3">
                <!-- <label for="recipient-name" class="col-form-label">ID:</label> -->
                <!-- <input type="number" class="form-control" id="recipient-name" > -->
                 <p>{{"esta_a_punto_de_borrar_hotel"|translate}} {{selectedIdHijo}}</p>
                 <p class="warn">{{"esta_operacion_es_irreversible"|translate}}</p>
              </div>
              <!-- <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"cancelar"|translate}}</button>
            <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2H" data-bs-toggle="modal">{{"eliminar"|translate}}</button>
          </div>
        </div>
      </div>
    </div>



    <!-- confirmacion -->
    <div class="modal fade" id="exampleModalToggle2H" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">{{"atencion"|translate}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              {{"esta_a_punto_de_borrar_hotel"|translate}} {{selectedIdHijo}} {{"permanente"|translate}}
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"  data-bs-dismiss="modal">{{"atras"|translate}}</button>
            <button class="btn btn-primary" (click)=" onSubmitDEL('HOT'); recharge('DEL');"   data-bs-dismiss="modal">{{"eliminar"|translate}}</button>
          </div>
        </div>
      </div>
    </div>



<!-- post -->
    <div class="modal fade" id="hotelPostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{"crear_hotel"|translate}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">{{"nombre"|translate}}:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="hotel.nombre">
              </div>
              <div class="mb-3">
                <label for="recipient-address" class="col-form-label">{{"direccion"|translate}}:</label>
                <input type="text" class="form-control" id="recipient-address" [(ngModel)]="hotel.direccion">
              </div>
              <div class="mb-3">
                <label for="recipient-phone" class="col-form-label">{{"telefono"|translate}}:</label>
                <input type="text" class="form-control" id="recipient-phone" [(ngModel)]="hotel.telefono">
              </div>
              <div class="mb-3">
                <label for="recipient-email" class="col-form-label">{{"email"|translate}}:</label>
                <input type="text" class="form-control" id="recipient-email" [(ngModel)]="hotel.email">
              </div>
              <div class="mb-3">
                <label for="recipient-web" class="col-form-label">{{"sitio_web"|translate}}:</label>
                <input type="text" class="form-control" id="recipient-web" [(ngModel)]="hotel.sitioWeb">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"cancelar"|translate}}</button>
            <button type="button" class="btn btn-primary" (click)="postNewHotel('HOT'); recharge('POST');">{{"guardar"|translate}}</button>
          </div>
        </div>
      </div>
    </div>



    <!-- put -->
    <div class="modal fade" id="hotelUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{"actualizar_hotel"|translate}}: {{selectedIdHijo}} </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <!-- <div class="mb-3">
                <label for="recipient-name" class="col-form-label">ID:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div> -->
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">{{"nombre"|translate}}:</label>
                <!-- <input type="text" class="form-control" id="recipient-name" [(ngmodel)]="hotel.nombre"> -->
                <input type="text" #inputName class="form-control" id="recipient-name" [value]="hotelAux.nombre">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label" >{{"direccion"|translate}}</label>
                <input type="text" #inputAddress class="form-control" id="recipient-name" [value]="hotelAux.direccion">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">{{"telefono"|translate}}:</label>
                <input type="text" #inputPhone class="form-control" id="recipient-name" [value]="hotelAux.telefono">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">{{"email"|translate}}:</label>
                <input type="text" #inputEmail class="form-control" id="recipient-name" [value]="hotelAux.email">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">{{"sitio_web"|translate}}:</label>
                <input type="text" class="form-control" id="recipient-name" [ngModel]="hotelAux.sitioWeb">
              </div>
              
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"cancelar"|translate}}</button>
            <button type="button" class="btn btn-primary" (click)="onSubmitPut('HOT'); recharge('PUT')">{{"actualizar"|translate}}</button>
          </div>
        </div>
      </div>
    </div>



