<div class="main-content">
  <div class="container-fluid">






    <div class="button-container2">
      <button class="search-button" (click)="toggleFilter()">
        <mat-icon class="mr-2">search</mat-icon>
        <span class="button-text">Buscar</span>
      </button>
      <button class="search-button" (click)="toggleSorter()">
        <mat-icon class="mr-2">sort</mat-icon>
        <span class="button-text">Ordenar</span>
      </button>
    </div>
 




  <div *ngIf="showSorters" >
    <hr>
    <h3>Ordenar</h3>
    <hr>
    <h4>Seleccione una opción</h4>

    <div class="button-container2">
      <select id="option-selector" class="selector" [(ngModel)]="selectedOption">
        <option value="" >Seleccione...</option>
        <option value="Nombre">Nombre</option>
        <option value="Descripcion">Descripción</option>
      </select>
      <button *ngIf="selectedOption" class="search-button" (click)="handleSelection('swap')">
        <mat-icon>swap_vert</mat-icon>
      </button>
    </div>




    <button *ngIf="selectedOption" class="search-button mt-4" (click)="handleSelection()">
      <span class="button-text ">Ordenar</span>
    </button>

  </div>





  <div *ngIf="showFilters" class="filter-form-container">
    <hr>
    <h3>Filtrar</h3>
    <hr>
    <form >
      <mat-form-field class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nombre">
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Descripción</mat-label>
        <input matInput type="text" placeholder="descripcion" name="descripcion" [(ngModel)]="descripcion">
      </mat-form-field>
 
    
  

  
    </form>
    <div class="centrar">
      <button class="mr-4 search-button" color="primary" type="submit" (click)="filter(nombre, descripcion)">
        <mat-icon class="mr-2">filter_list</mat-icon>
        Filtrar 
      </button>
      <button class="search-button" color="primary" type="submit" (click)="getServices()">
        <mat-icon class="mr-2">restart_alt</mat-icon>
        Reestablecer
      </button>
    </div>
  </div>










    <div class="list-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Lista de Servicios</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item class="huesped-item">
              <span class="matListItemTitle reduce-space">ID</span>
              <span class="matListItemLine"><strong>Nombre</strong></span>
              <span class="matListItemLine"><strong>Descripción</strong></span>
              <div class="huesped-actions">
                <span class="matListItemLine"><strong>Acciones</strong></span>
              </div>
            </mat-list-item>
            <mat-list-item
              *ngFor="let serv of displayedServices; let i = index;"
              class="huesped-item"
            >
              <span class="matListItemTitle reduce-space">{{ serv.id }}</span>
              <span class="matListItemLine">{{ serv.nombre }}</span>
              <span class="matListItemLine">{{ serv.descripcion }}</span>
              

              <!-- Como muevas esto una linea no funciona el hdp -->
              <service-pop-up
                [selectedIdHijo]="selectedId"
                [serviceAux]="service"
              ></service-pop-up>

              <div class="huesped-actions">
                <button
                  mat-icon-button
                  (click)="setIndex(serv.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#serviceUpdateModal"
                  >
                  <mat-icon>edit</mat-icon>
                </button>
                
                <button
                  mat-icon-button
                  class="botones"
                  (click)="setIndex(serv.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#serviceDeleteModal"
                  >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-list-item>
           
          </mat-list>


          <mat-paginator 
          [length]="services.length"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="handlePageEvent($event)">
        </mat-paginator>



        </mat-card-content>
      </mat-card>
    </div>

    <shared-floating-button [servicio]="showButton"></shared-floating-button>

<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Create a Service</h4>
                        <p class="card-category">Complete this data</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Company (disabled)" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Name" [(ngModel)]="nombre">
                                    </mat-form-field>
                                </div>
                              
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Description" type="text" [(ngModel)]="descripcion">
                                  </mat-form-field>
                                </div>
                           
                            </div>
                           
                            <div class="row">
                               
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmitAndShowNotification()">Create Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
  
  
  
  
            <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Update a Service</h4>
                      <p class="card-category">Complete this data</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company (disabled)" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Service ID" [(ngModel)]="selectedId">
                                  </mat-form-field>
                              </div>
                              
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Name" type="text" [(ngModel)]="nombre">
                                </mat-form-field>
                              </div>
                              
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Description" type="text" [(ngModel)]="descripcion">
                                </mat-form-field>
                              </div>
                          </div>
                        
                          <div class="row">
                             
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmitPutAndShowNotification()">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
  
  
  
  
          <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Delete a Service</h4>
                    <p class="card-category">Complete this data</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Delete service" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Service ID" [(ngModel)]="selectedId">
                                </mat-form-field>
                            </div>
                            
                        
                        </div>
                        <div class="row">
                
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmitDeleteAndShowNotification()">Delete Profile</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>

        </div>
    </div>
  </div> -->
  





<!-- <div id="map"></div> -->
