<div class="main-content">
  <div class="container-fluid">
    <div class="list-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Lista de Servicios</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item class="huesped-item">
              <span class="matListItemTitle reduce-space">ID</span>
              <span class="matListItemLine"><strong>Nombre</strong></span>
              <span class="matListItemLine"><strong>Descripción</strong></span>
              <div class="huesped-actions">
                <span class="matListItemLine"><strong>Acciones</strong></span>
              </div>
            </mat-list-item>
            <mat-list-item
              *ngFor="let serv of services; let i = index"
              class="huesped-item"
            >
              <span class="matListItemTitle reduce-space">{{ serv.id }}</span>
              <span class="matListItemLine">{{ serv.nombre }}</span>
              <span class="matListItemLine">{{ serv.descripcion }}</span>
              

              <!-- Como muevas esto una linea no funciona el hdp -->
              <shared-pop-up
                [selectedIdHijo]="selectedId"
              ></shared-pop-up>

              <div class="huesped-actions">
                <button
                  mat-icon-button
                  (click)="setIndex(serv.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#serviceUpdateModal"
                  >
                  <mat-icon>edit</mat-icon>
                </button>
                <!-- <shared-pop-up></shared-pop-up> -->
                <button
                  mat-icon-button
                  class="botones"
                  (click)="setIndex(serv.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#serviceDeleteModal"
                  >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-list-item>
           
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <shared-floating-button [servicio]="showButton"></shared-floating-button>

<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Create a Service</h4>
                        <p class="card-category">Complete this data</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Company (disabled)" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Name" [(ngModel)]="nombre">
                                    </mat-form-field>
                                </div>
                              
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Description" type="text" [(ngModel)]="descripcion">
                                  </mat-form-field>
                                </div>
                           
                            </div>
                           
                            <div class="row">
                               
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmitAndShowNotification()">Create Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
  
  
  
  
            <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Update a Service</h4>
                      <p class="card-category">Complete this data</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company (disabled)" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Service ID" [(ngModel)]="selectedId">
                                  </mat-form-field>
                              </div>
                              
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Name" type="text" [(ngModel)]="nombre">
                                </mat-form-field>
                              </div>
                              
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Description" type="text" [(ngModel)]="descripcion">
                                </mat-form-field>
                              </div>
                          </div>
                        
                          <div class="row">
                             
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmitPutAndShowNotification()">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
  
  
  
  
          <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Delete a Service</h4>
                    <p class="card-category">Complete this data</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Delete service" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Service ID" [(ngModel)]="selectedId">
                                </mat-form-field>
                            </div>
                            
                        
                        </div>
                        <div class="row">
                
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmitDeleteAndShowNotification()">Delete Profile</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>

        </div>
    </div>
  </div> -->
  





<!-- <div id="map"></div> -->
