.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    height: 35vh;
    width: 80vw;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
  }
  
  .grid-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .button1 {
    background-color: #FF6347; /* Tomato */
    border-radius: 20px;
  }
  
  .button2 {
    background-color: #4682B4; /* Steel Blue */
    border-radius: 20px;
  }
  
  .button3 {
    background-color: #32cd32cb; /* Lime Green */
    border-radius: 20px;
  }
  
  .button4 {
    background-color: #d6be36; /* Gold */
    border-radius: 20px;
  }
  
  .grid-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  

  /* Lista*/

  .list-container {
    max-width: 100%;
    margin: 20px auto;
  }
  
  mat-card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-header {
    background-color: #e1f5fe; /* Very light blue background for the header */
  }
  
  mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #0277bd; /* Medium blue for the title */
  }
  
  mat-list {
    margin: 0;
    background-color: #ffffff; /* White background for the list */
  }
  
  .list-header {
    background-color: #b3e5fc; /* Light blue for header rows */
    font-weight: bold;
    text-align: center;
  }
  
  .header-item, .matListItemLine {
    flex: 1;
    min-width: 120px; /* Adjusted minimum width for columns */
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .header-item:last-child, .matListItemLine:last-child {
    border-right: none; /* Remove right border for the last item */
  }
  
  .huesped-item {
    background-color: #ffffff; /* Uniform white background for rows */
  }
  
  .huesped-actions {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the action buttons */
  }
  
  .huesped-actions button {
    margin: 0 5px; /* Horizontal spacing between buttons */
    padding: 0;

  }
  
  .mat-icon {
    font-size: 20px;
  }
  
  .matListItemTitle {
    font-weight: bold;
    color: #0277bd; /* Medium blue for the ID */
  }
  
  .reduce-space {
    padding-right: 5px; /* Reduce the space between ID and Name */
  }

  


  
  
  /* boton de buscar */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Ocupa el 100% de la altura de la ventana */
    margin: 0;
  }
  .button-container2 {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; Ocupa el 100% de la altura de la ventana */
    margin: 0;
    gap: 8px;
  }

  
  /* Estilo para el botón de búsqueda */
  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    /* font-weight: bold; */
    border: none;
    border-radius: 25px;
    background-color: #007bff; /* Tonalidad azul */
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el cursor */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Efecto de aumento al pasar el cursor */
  }
  
  .search-button:focus {
    outline: none; /* Elimina el contorno al hacer clic */
  }

  /* selector */
  /* Estilo para el encabezado */
h3 {
  margin-bottom: 20px;
  color: #333;
}

/* Estilo para el selector */
.selector {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo para el selector al pasar el cursor */
.selector:hover {
  border-color: #007bff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo para el selector cuando está enfocado */
.selector:focus {
  border-color: #0056b3;
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

  

.button-container2 {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; Ocupa el 100% de la altura de la ventana */
  margin: 0;
  gap: 8px;
}


.centrar{
  display: flex;
  justify-content: center; /* Centra el div horizontalmente */
  align-items: center; /* Centra el div verticalmente */
  margin: 0; /* Elimina el margen por defecto */
}