
  
  <!-- Modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar huésped: {{selectedIdHijo}} </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form >
            <!-- <div class="mb-3">
              <label for="recipient-name" class="col-form-label">ID:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div> -->
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="host.nombre">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" >Apellidos:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="host.apellido">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">DNI/Pasaporte:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="host.dniPasaporte">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Fecha check-in:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="host.fechaCheckin">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Fecha check-out:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="host.fechaCheckout">
            </div>
            <!-- <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="onSubmitPut('HOS'); recharge('PUT')">Actualizar</button>
        </div>
      </div>
    </div>
  </div>




  <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar huésped</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form >
              <div class="mb-3">
                <!-- <label for="recipient-name" class="col-form-label">ID:</label> -->
                <!-- <input type="number" class="form-control" id="recipient-name" > -->
                 <p>Está a punto de borrar el huésped: {{selectedIdHijo}}</p>
                 <p class="warn">Esta operación es irreversible</p>
              </div>
              <!-- <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Eliminar</button>
            <!-- (click)="eliminarElemento(); onSubmitDEL(); recharge() -->
          </div>
        </div>
      </div>
    </div>




    <!-- confirmacion -->
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">ATENCIÓN</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              Está a punto de eliminar el huésped: {{selectedIdHijo}} de forma permanente.
              ¿Quiere realizar la operación igualmente?
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"  data-bs-dismiss="modal">Atrás</button>
            <button class="btn btn-primary" (click)=" onSubmitDEL('HOS'); recharge('DEL');"   data-bs-dismiss="modal">Eliminar</button>
          </div>
        </div>
      </div>
    </div>











<!-- POST MODAL -->
  <div class="modal fade" id="postModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear huésped</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="host.nombre">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Apellidos:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="host.apellido">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">DNI/Pasaporte:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="host.dniPasaporte">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Fecha check-in:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="host.fechaCheckin">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Fecha check-out:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="host.fechaCheckout">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="postNewHost('HOS'); recharge('POST');">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
  



  <!-- Hotel -->
   <!-- delete modal -->
  <div class="modal fade" id="hotelDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar hotel</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form >
              <div class="mb-3">
                <!-- <label for="recipient-name" class="col-form-label">ID:</label> -->
                <!-- <input type="number" class="form-control" id="recipient-name" > -->
                 <p>Está a punto de borrar el hotel: {{selectedIdHijo}}</p>
                 <p class="warn">Esta operación es irreversible</p>
              </div>
              <!-- <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2H" data-bs-toggle="modal">Eliminar</button>
            <!-- (click)="eliminarElemento(); onSubmitDEL(); recharge() -->
          </div>
        </div>
      </div>
    </div>




    <!-- confirmacion -->
    <div class="modal fade" id="exampleModalToggle2H" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">ATENCIÓN</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              Está a punto de eliminar el hotel: {{selectedIdHijo}} de forma permanente.
              ¿Quiere realizar la operación igualmente?
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"  data-bs-dismiss="modal">Atrás</button>
            <button class="btn btn-primary" (click)=" onSubmitDEL('HOT'); recharge('DEL');"   data-bs-dismiss="modal">Eliminar</button>
          </div>
        </div>
      </div>
    </div>



<!-- post -->
    <div class="modal fade" id="hotelPostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear hotel</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="hotel.nombre">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Dirección:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="hotel.direccion">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Teléfono:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="hotel.telefono">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Email:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="hotel.email">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Sitio Web:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="hotel.sitioWeb">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="postNewHost('HOT'); recharge('POST');">Guardar</button>
          </div>
        </div>
      </div>
    </div>



    <!-- put -->
    <div class="modal fade" id="hotelUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar hotel: {{selectedIdHijo}} </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <!-- <div class="mb-3">
                <label for="recipient-name" class="col-form-label">ID:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div> -->
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="hotel.nombre">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label" >Dirección</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="hotel.direccion">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Teléfono:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="hotel.telefono">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Email:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="hotel.email">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Sitio Web:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="hotel.sitioWeb">
              </div>
              <!-- <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="onSubmitPut('HOT'); recharge('PUT')">Actualizar</button>
          </div>
        </div>
      </div>
    </div>












      <!-- Servicio -->
   <!-- delete modal -->
  <div class="modal fade" id="serviceDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar servicio</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form >
              <div class="mb-3">
                <!-- <label for="recipient-name" class="col-form-label">ID:</label> -->
                <!-- <input type="number" class="form-control" id="recipient-name" > -->
                 <p>Está a punto de borrar el servicio: {{selectedIdHijo}}</p>
                 <p class="warn">Esta operación es irreversible</p>
              </div>
              <!-- <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2S" data-bs-toggle="modal">Eliminar</button>
            <!-- (click)="eliminarElemento(); onSubmitDEL(); recharge() -->
          </div>
        </div>
      </div>
    </div>




    <!-- confirmacion -->
    <div class="modal fade" id="exampleModalToggle2S" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">ATENCIÓN</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              Está a punto de eliminar el servicio: {{selectedIdHijo}} de forma permanente.
              ¿Quiere realizar la operación igualmente?
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"  data-bs-dismiss="modal">Atrás</button>
            <button class="btn btn-primary" (click)=" onSubmitDEL('SER'); recharge('DEL');"   data-bs-dismiss="modal">Eliminar</button>
          </div>
        </div>
      </div>
    </div>



<!-- post -->
    <div class="modal fade" id="servicePostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear servicio</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="service.nombre">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Descripción</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="service.descripcion">
              </div>
        
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="postNewHost('SER'); recharge('POST');">Guardar</button>
          </div>
        </div>
      </div>
    </div>



    <!-- put -->
    <div class="modal fade" id="serviceUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar servicio: {{selectedIdHijo}} </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <!-- <div class="mb-3">
                <label for="recipient-name" class="col-form-label">ID:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div> -->
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="service.nombre">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label" >Descripción</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="service.descripcion">
              </div>
              
              <!-- <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="onSubmitPut('SER'); recharge('PUT')">Actualizar</button>
          </div>
        </div>
      </div>
    </div>










    
      <!-- Habitacion -->
   <!-- delete modal -->
  <div class="modal fade" id="roomDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar habitación</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form >
              <div class="mb-3">
                <!-- <label for="recipient-name" class="col-form-label">ID:</label> -->
                <!-- <input type="number" class="form-control" id="recipient-name" > -->
                 <p>Está a punto de borrar la habitación: {{selectedIdHijo}}</p>
                 <p class="warn">Esta operación es irreversible</p>
              </div>
              <!-- <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2R" data-bs-toggle="modal">Eliminar</button>
            <!-- (click)="eliminarElemento(); onSubmitDEL(); recharge() -->
          </div>
        </div>
      </div>
    </div>




    <!-- confirmacion -->
    <div class="modal fade" id="exampleModalToggle2R" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">ATENCIÓN</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              Está a punto de eliminar la habitación: {{selectedIdHijo}} de forma permanente.
              ¿Quiere realizar la operación igualmente?
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"  data-bs-dismiss="modal">Atrás</button>
            <button class="btn btn-primary" (click)=" onSubmitDEL('ROO'); recharge('DEL');"   data-bs-dismiss="modal">Eliminar</button>
          </div>
        </div>
      </div>
    </div>



<!-- post -->
    <div class="modal fade" id="roomPostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear habitación</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Número:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="room.numero">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Tipo</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="room.tipo">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Precio/noche</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="room.precioNoche">
              </div>
        
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="postNewHost('ROO'); recharge('POST');">Guardar</button>
          </div>
        </div>
      </div>
    </div>



    <!-- put -->
    <div class="modal fade" id="roomUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar habitación: {{selectedIdHijo}} </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <!-- <div class="mb-3">
                <label for="recipient-name" class="col-form-label">ID:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div> -->
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="room.numero">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label" >Tipo</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="room.tipo">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label" >Precio/noche</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="room.precioNoche">
              </div>
              
              <!-- <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="onSubmitPut('ROO'); recharge('PUT')">Actualizar</button>
          </div>
        </div>
      </div>
    </div>