

    
      <!-- Habitacion -->
   <!-- delete modal -->
   <div class="modal fade" id="roomDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar habitación</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form >
              <div class="mb-3">
                <!-- <label for="recipient-name" class="col-form-label">ID:</label> -->
                <!-- <input type="number" class="form-control" id="recipient-name" > -->
                 <p>Está a punto de borrar la habitación: {{selectedIdHijo}}</p>
                 <p class="warn">Esta operación es irreversible</p>
              </div>
              <!-- <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2R" data-bs-toggle="modal">Eliminar</button>
            <!-- (click)="eliminarElemento(); onSubmitDEL(); recharge() -->
          </div>
        </div>
      </div>
    </div>




    <!-- confirmacion -->
    <div class="modal fade" id="exampleModalToggle2R" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">ATENCIÓN</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              Está a punto de eliminar la habitación: {{selectedIdHijo}} de forma permanente.
              ¿Quiere realizar la operación igualmente?
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"  data-bs-dismiss="modal">Atrás</button>
            <button class="btn btn-primary" (click)=" onSubmitDEL('ROO'); recharge('DEL');"   data-bs-dismiss="modal">Eliminar</button>
          </div>
        </div>
      </div>
    </div>



<!-- post -->
    <div class="modal fade" id="roomPostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear habitación</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Número:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="room.numero">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Tipo</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="room.tipo">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Precio/noche</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="room.precioNoche">
              </div>
        
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="postNewHost('ROO'); recharge('POST');">Guardar</button>
          </div>
        </div>
      </div>
    </div>



    <!-- put -->
    <div class="modal fade" id="roomUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar habitación: {{selectedIdHijo}} </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <!-- <div class="mb-3">
                <label for="recipient-name" class="col-form-label">ID:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div> -->
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Número:</label>
                <input #inputNumber type="text" class="form-control" id="recipient-name" [value]="roomAux.numero">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label" >Tipo</label>
                <input #inputType type="text" class="form-control" id="recipient-name" [value]="roomAux.tipo">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label" >Precio/noche</label>
                <input #inputPrice type="text" class="form-control" id="recipient-name" [value]="roomAux.precioNoche">
              </div>
              
              <!-- <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="onSubmitPut('ROO'); recharge('PUT')">Actualizar</button>
          </div>
        </div>
      </div>
    </div>