<body>    
        <div class="register-container">
            <div class="register-box">
                <h2>Register</h2>
                <form [formGroup]="myForm" (ngSubmit)="register()" autocomplete="off">
                    <div class="textbox">
                        <input type="text" placeholder="User Name" formControlName="name" required [(ngModel)]="username">
                        <span *ngIf="isValidField('name')"  class="form-text text-danger">
                            Debe de ser en formato de nombre y apellido
                        </span>
                    </div>
                    <div class="textbox">
                        <input type="text" placeholder="First Name" formControlName="name" required [(ngModel)]="firstname">
                        <span *ngIf="isValidField('name')"  class="form-text text-danger">
                            Debe de ser en formato de nombre y apellido
                        </span>
                    </div>
                    <div class="textbox">
                        <input type="text" placeholder="Second Name" formControlName="name" required [(ngModel)]="secondname">
                        <span *ngIf="isValidField('name')"  class="form-text text-danger">
                            Debe de ser en formato de nombre y apellido
                        </span>
                    </div>
                    <div class="textbox">
                        <input type="text" placeholder="Location" formControlName="name" required [(ngModel)]="location">
                        <span *ngIf="isValidField('name')"  class="form-text text-danger">
                            Debe de ser en formato de nombre y apellido
                        </span>
                    </div>
                    <div class="textbox">
                        <input type="email" placeholder="Email" formControlName="email" required [(ngModel)]="email">
                        <span *ngIf="isValidField('email')"  class="form-text text-danger">
                            mensaje de error del email
                        </span>
                    </div>
                    <div class="textbox">
                        <input type="password" placeholder="Password" formControlName="password" required [(ngModel)]="password">
                        <span *ngIf="isValidField('password')"  class="form-text text-danger">
                            La contraseña debe de ser mayor de 6 caracteres.
                       </span>
                    </div>
                    <div class="textbox">
                        <input type="password" placeholder="Confirm Password" formControlName="password2" required [(ngModel)]="confirmPassword">
                        <span *ngIf="isValidField('password2')"  class="form-text text-danger">
                            Las contraseñas deben de ser iguales
                       </span>
                    </div>
                    <button class="btn" type="submit" >Register</button>
                    <p class="login-link">Ya tienes cuenta? <a href="#/login">Login</a></p>
                </form>
            </div>
        </div>
</body>

