

      <!-- Servicio -->
   <!-- delete modal -->
   <div class="modal fade" id="serviceDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{"eliminar_servicio"|translate}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form >
              <div class="mb-3">
                 <p>{{"esta_a_punto_de_borrar_servicio"|translate}} {{selectedIdHijo}}</p>
                 <p class="warn">{{"esta_operacion_es_irreversible"|translate}}</p>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"cancelar"|translate}}</button>
            <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2S" data-bs-toggle="modal">{{"eliminar"|translate}}</button>
          </div>
        </div>
      </div>
    </div>




    <!-- confirmacion -->
    <div class="modal fade" id="exampleModalToggle2S" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">{{"atencion"|translate}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              {{"esta_a_punto_de_borrar_servicio"|translate}} {{selectedIdHijo}} {{"permanente"|translate}}
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"  data-bs-dismiss="modal">{{"atras"|translate}}</button>
            <button class="btn btn-primary" (click)=" onSubmitDEL('SER'); recharge('DEL');"   data-bs-dismiss="modal">{{"eliminar"|translate}}</button>
          </div>
        </div>
      </div>
    </div>



<!-- post -->
    <div class="modal fade" id="servicePostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{"crear_servicio"|translate}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">{{"nombre"|translate}}:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="service.nombre">
              </div>
              <!-- <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Descripción</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="service.descripcion">
              </div> -->
              <div class="mb-3">
                <label for="message-text" class="col-form-label">{{"descripcion"|translate}}:</label>
                <textarea class="form-control" id="message-text" [(ngModel)]="service.descripcion"></textarea>
              </div>
        
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"cancelar"|translate}}</button>
            <button type="button" class="btn btn-primary" (click)="postNewHost('SER'); recharge('POST');">{{"guardar"|translate}}</button>
          </div>
        </div>
      </div>
    </div>



    <!-- put -->
    <div class="modal fade" id="serviceUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{"actualizar_servicio"|translate}}: {{selectedIdHijo}} </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div *ngIf="serviceAux" class="mb-3">
                <label for="recipient-name" class="col-form-label">{{"nombre"|translate}}:</label>
                <input type="text" #myInput class="form-control" id="recipient-name" [value]="serviceAux.nombre" >
              </div>
              <div *ngIf="serviceAux" class="mb-3">
                <label for="recipient-desc" class="col-form-label" >{{"descripcion"|translate}}</label>
                <!-- Aqui abajo puedo dejar el ngmodel porque es la ultima propiedad
                 que no se porque pero si pongo ngmodel a todas las props en los inputs aparece el 
                 valor de la ultima prop -->
                <input type="text" class="form-control" id="recipient-desc"  [(ngModel)]="serviceAux.descripcion">
              </div>
              
              <!-- <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div> -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"cancelar"|translate}}</button>
            <button type="button" class="btn btn-primary" (click)="onSubmitPut('SER'); recharge('PUT')">{{"actualizar"|translate}}</button>
          </div>
        </div>
      </div>
    </div>
