<!--PUT Modal -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{"actualizar"|translate}}: {{ selectedIdHijo }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >{{"nombre"|translate}}:
            </label>
            <!-- <input type="text" class="form-control" id="recipient-name" [value]="hostAux.nombre" [(ngModel)]="hostAux.nombre"> -->
            <input
            #inputName
              type="text"
              class="form-control"
              id="recipient-name"
              [value]="hostAux.nombre"
              
            />
          </div>
          <div class="mb-3">
            <label for="recipient-surname" class="col-form-label"
              >{{"apellido"|translate}}:</label
            >
            <!-- <input type="text" class="form-control" id="recipient-surname" [(ngModel)]="hostAux.apellido"> -->
            <input
            #inputSurname
              type="text"
              class="form-control"
              id="recipient-surname"
              [value]="hostAux.apellido"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-dni" class="col-form-label"
              >{{"dni_pasaporte"|translate}}:</label
            >
            <!-- <input type="text" class="form-control" id="recipient-dni" [(ngModel)]="hostAux.dniPasaporte"> -->
            <input
            #inputDni
              type="text"
              class="form-control"
              id="recipient-dni"
              [value]="hostAux.dniPasaporte"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-procedence" class="col-form-label"
              >{{"procedencia"|translate}}:</label
            >
            <!-- <input type="text" class="form-control" id="recipient-procedence" [(ngModel)]="hostAux.procedencia"> -->
            <input
            #inputOrigin
              type="text"
              class="form-control"
              id="recipient-procedence"
              [value]="hostAux.procedencia"
            />
          </div>

          <div class="button-container2">
            <div class="mb-3">
              <label for="recipient-checkin" class="col-form-label"
                >{{"check_in"|translate}}:</label
              >
              <input
              #inputDateIn
                matInput
                type="date"
                class="form-control"
                id="recipient-checkin"
                placeholder="dd/MM/yyyy HH:mm"
                name="date-in"
                [(ngModel)]="dateIn"
              />
              <!-- <input matInput type="date" class="form-control" id="recipient-checkin" placeholder="dd/MM/yyyy HH:mm"  name="date-in" [value]="dateIn"> -->
            </div>

            <div class="mb-3">
              <label for="recipient-timein" class="col-form-label">{{"hora"|translate}}</label>
              <input
              #inputTimeIn
                matInput
                placeholder="HH:mm"
                class="form-control"
                id="recipient-timein"
                name="time-in"
                [(ngModel)]="timeIn"
                type="time"
              />
              <!-- <input matInput placeholder="HH:mm" class="form-control" id="recipient-timein"  name="time-in" [value]="timeIn" type="time"> -->
            </div>
          </div>

          <div class="button-container2">
            <div class="mb-3">
              <label for="recipient-checkout" class="col-form-label"
                >{{"check_out"|translate}}:</label
              >
              <input
              #inputDateOut
                matInput
                type="date"
                class="form-control"
                id="recipient-checkout"
                name="date-out"
                placeholder="dd/MM/yyyy HH:mm"
                [(ngModel)]="dateOut"
              />
              <!-- <input matInput type="date" class="form-control" id="recipient-checkout" name="date-out" placeholder="dd/MM/yyyy HH:mm" [value]="dateOut"> -->
            </div>

            <div class="mb-3">
              <label for="recipient-timeout" class="col-form-label">{{"hora"|translate}}</label>
              <input
              #inputTimeOut
                matInput
                placeholder="HH:mm"
                class="form-control"
                id="recipient-timeout"
                name="time-out"
                [(ngModel)]="timeOut"
                type="time"
              />
              <!-- <input matInput placeholder="HH:mm" class="form-control" id="recipient-timeout" name="time-out" [value]="timeOut" type="time"> -->
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{"cancelar"|translate}}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSubmitPut('HOS'); recharge('PUT')"
        >
          {{"actualizar"|translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="deleteModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{"eliminar_huesped"|translate}}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <p>{{"esta_a_punto_de_borrar"|translate}} {{ selectedIdHijo }}</p>
            <p class="warn">{{"esta_operacion_es_irreversible"|translate}}</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{"cancelar"|translate}}
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-bs-target="#exampleModalToggle2"
          data-bs-toggle="modal"
        >
          {{"eliminar"|translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- confirmacion -->
<div
  class="modal fade"
  id="exampleModalToggle2"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">{{"atencion"|translate}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          {{"esta_a_punto_de_borrar"|translate}} {{ selectedIdHijo }} {{"permanente"|translate}}
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">{{"atras"|translate}}</button>
        <button
          class="btn btn-primary"
          (click)="onSubmitDEL('HOS'); recharge('DEL')"
          data-bs-dismiss="modal"
        >
          {{"eliminar"|translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- POST MODAL -->
<div
  class="modal fade"
  id="postModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{"crear_huesped"|translate}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">{{"nombre"|translate}}:</label>
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              [(ngModel)]="host.nombre"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >{{"apellidos"|translate}}:</label
            >
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              [(ngModel)]="host.apellido"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >{{"dni_pasaporte"|translate}}:</label
            >
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              [(ngModel)]="host.dniPasaporte"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >{{"procedencia"|translate}}:</label
            >
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              [(ngModel)]="host.procedencia"
            />
          </div>
          <!-- <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Fecha check-in:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="host.fechaCheckin">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Fecha check-out:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="host.fechaCheckout">
            </div> -->

          <div class="button-container2">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label"
                >{{"check_in"|translate}}:</label
              >
              <input
                matInput
                type="date"
                class="form-control"
                id="recipient-name"
                placeholder="dd/MM/yyyy HH:mm"
                name="date-in"
                [(ngModel)]="dateIn"
              />
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">{{"hora"|translate}}</label>
              <input
                matInput
                placeholder="HH:mm"
                class="form-control"
                id="recipient-name"
                name="time-in"
                [(ngModel)]="timeIn"
                type="time"
              />
            </div>
          </div>

          <div class="button-container2">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label"
                >{{"check_out"|translate}}:</label
              >
              <input
                matInput
                type="date"
                class="form-control"
                id="recipient-name"
                name="date-out"
                placeholder="dd/MM/yyyy HH:mm"
                [(ngModel)]="dateOut"
              />
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">{{"hora"|translate}}</label>
              <input
                matInput
                placeholder="HH:mm"
                class="form-control"
                id="recipient-name"
                name="time-out"
                [(ngModel)]="timeOut"
                type="time"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{"cancelar"|translate}}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="postNewHost('HOS'); recharge('POS')"
        >
          {{"guardar"|translate}}
        </button>
      </div>
    </div>
  </div>
</div>
