
<div class="main-content">
  <div class="container-fluid">

    <!-- Servicios a hoteles -->
    <div class="container">
      <h2>{{"seleccione_servicios_titulo"|translate}}</h2>
      
      <div *ngIf="hotels" class="form-group">
        <label for="hotelSelect">{{"seleccione_hotel_etiqueta"|translate}}</label>
        <select id="hotelSelect" class="form-control" (change)="onHotelChange($event)">
          <!-- <option value="" >Seleccione...</option> -->
          <option *ngFor="let hotel of hotels" [value]="hotel.id"  >{{ hotel.nombre }}</option>
        </select>
      </div>

      <div *ngIf="services" class="form-group mt-3">
        <h4>{{"servicio"|translate}}</h4>
        <div *ngFor="let service of services">
          <input type="checkbox" id="{{service.id}}" (change)="toggleService(service.id)" [ngModel]="includedServices(service.id)">
          <label class="ml-2" for="{{service.id}}">{{ service.nombre }}</label>
        </div>
      </div>

      <button class="btn btn-primary mt-3" (click)="linkServices(); showNotification('top','right','STH')">{{"anadir_servicios_boton"|translate}}</button>
     
    </div>
    
    
    
    
    
    
    
    
    <!-- Huespedes a habitaciones -->
    <!-- <div class="container">
      <h2>Seleccione los huéspedes que desea añadir</h2>
      
      <div *ngIf="hotels" class="form-group">
        <label for="roomSelect">Seleccione Habitación</label>
        <select id="roomSelect" class="form-control" (change)="onRoomChange($event)">
         
          <option *ngFor="let room of rooms" [value]="room.id"  >{{ room.numero }}</option>
        </select>
      </div>

      <div *ngIf="hosts" class="form-group mt-3">
        <h4>Huéspedes</h4>
        <div *ngFor="let host of hosts">
          <input type="checkbox" id="{{host.id}}" (change)="toggleService(host.id)" [ngModel]="includedHosts(host.id)">
          <label class="ml-2" for="{{host.id}}">{{ host.nombre }}</label>
        </div>
      </div>

      <button class="btn btn-primary mt-3" (click)="linkHosts(); showNotification('top','right','HTR')">Añadir Servicios</button>
     
    </div>

  </div>
</div>
   -->