<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <!--Intento de los botones  -->
                <div class="button-container">
                    <button (click)="toggleHostTable()" class="grid-button button1">Huespedes</button>
                    <button (click)="toggleHotelTable()" class="grid-button button2">Hoteles</button>
                    <button (click)="toggleRoomTable()" class="grid-button button3">Habitaciones</button>
                    <button (click)="toggleServiceTable()" class="grid-button button4">Servicios</button>
                  </div>

                  <div *ngIf="showHostTable" class="card-header card-header-danger">
                      <h4 class="card-title ">Hosts Table</h4>
                      <p class="card-category"> Muestra información de los huéspedes</p>
                  </div>

                  


                  <div *ngIf="showHostTable" class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                            
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Surname
                                  </th>
                                  <th>
                                      ID-card/Passport
                                  </th>
                                  <th>
                                      Check-In
                                  </th>
                                  <th>
                                      Check-Out
                                  </th>
                              </thead>
                              <tbody>
                               
                                  <tr *ngFor="let host of hosts">
                                      <td>
                                          {{host.id}}
                                      </td>
                                      <td>
                                          {{host.nombre}}
                                      </td>
                                      <td>
                                          {{host.apellido}}
                                      </td>
                                      <td>
                                          {{host.dniPasaporte}}
                                      </td>
                                      <td>
                                          {{host.fechaCheckin}}
                                      </td>
                                      <td>
                                        {{host.fechaCheckout}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

         
          <div *ngIf="showRoomTable" class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Rooms Table</h4>
                      <p class="card-category"> Muestra información sobre las habitaciones de un hotel</p>
                  </div>
                  <div *ngIf="showRoomTable" class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Number
                                  </th>
                                  <th>
                                      Type
                                  </th>
                                  <th>
                                      Price
                                  </th>
                                 
                              </thead>
                              <tbody>
                                  <tr *ngFor="let room of rooms">
                                      <td>
                                          {{room.id}}
                                      </td>
                                      <td>
                                          {{room.numero}}
                                      </td>
                                      <td>
                                          {{room.tipo}}
                                      </td>
                                      <td>
                                            {{room.precioNoche}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

          <div *ngIf="showHotelTable" class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <h4 class="card-title mt-0"> Hotels Table</h4>
                    <p class="card-category"> Muestra información sobre los hoteles</p>
                </div>
                <div *ngIf="showHotelTable" class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Website
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hotel of hotels">
                                    <td>
                                        {{hotel.id}}
                                    </td>
                                    <td>
                                        {{hotel.nombre}}
                                    </td>
                                    <td>
                                        {{hotel.direccion}}
                                    </td>
                                    <td>
                                        {{hotel.telefono}}
                                    </td>
                                    <td>
                                        {{hotel.email}}
                                    </td>
                                    <td>
                                        {{hotel.sitioWeb}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        <div *ngIf="showServiceTable" class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <h4 class="card-title mt-0"> Services Table</h4>
                    <p class="card-category"> Muestra información sobre los servicios disponibles</p>
                </div>
                <div *ngIf="showServiceTable" class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Description
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let serv of services">
                                    <td>
                                        {{serv.id}}
                                    </td>
                                    <td>
                                        {{serv.nombre}}
                                    </td>
                                    <td>
                                        {{serv.descripcion}}
                                    </td>
                                  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


      </div>
  </div>
</div>
