<div class="main-content">
  <div class="container-fluid">
    <div class="list-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Lista de Huéspedes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item class="huesped-item">
              <span class="matListItemTitle reduce-space">ID</span>
              <span class="matListItemLine"><strong>Nombre</strong></span>
              <span class="matListItemLine"><strong>Apellido</strong></span>
              <span class="matListItemLine"
                ><strong>DNI/Pasaporte</strong></span
              >
              <span class="matListItemLine"><strong>Check-in</strong></span>
              <span class="matListItemLine"><strong>Check-out</strong></span>
              <div class="huesped-actions">
                <span class="matListItemLine"><strong>Acciones</strong></span>
              </div>
            </mat-list-item>
            <mat-list-item
              *ngFor="let host of hosts; let i = index"
              class="huesped-item"
            >
              <span class="matListItemTitle reduce-space">{{ host.id }}</span>
              <span class="matListItemLine">{{ host.nombre }}</span>
              <span class="matListItemLine">{{ host.apellido }}</span>
              <span class="matListItemLine">{{ host.dniPasaporte }}</span>
              <span class="matListItemLine">{{ host.fechaCheckin }}</span>
              <span class="matListItemLine">{{ host.fechaCheckout }}</span>

              <!-- Como muevas esto una linea no funciona el hdp -->
              <shared-pop-up
                [selectedIdHijo]="selectedId"
              ></shared-pop-up>

              <div class="huesped-actions">
                <button
                  mat-icon-button
                  (click)="setIndex(host.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#updateModal"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <!-- <shared-pop-up></shared-pop-up> -->
                <button
                  mat-icon-button
                  class="botones"
                  (click)="setIndex(host.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <shared-floating-button [huesped]="showButton"></shared-floating-button>
   